* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-image: url(./assets/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header {
    text-align: center;
    margin-top: 32px;
    height: calc(120px + 32px);
}

header div {
    width: 120px;
    margin: auto;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    display: flex;
    padding: 4px;

    transition: transform .3s;
}

header div:hover {
    transform: scale(1.1);
}

header div img {
    width: 100%;
    border-radius: 50%;
}

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 12px;
}

section div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    padding-top: 24px;
    background-color: #2A2634;
    border-radius: 8px;
}

section h2 {
    font-weight: 900;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: -0.47px
}

section p {  
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    display: flex;
    gap: 16px;
}

section li {
    transition: transform .3s;
}

section li:hover {
    transform: scale(1.1);
}

.games-list img {
    border-radius: 8px;
    width: 90px;
}

.channel-list img {
    border-radius: 50%;
    width: 70px;
    border: 1px solid #443E54;
}

/* Animação */

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBot {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromLeft {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes esmaecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

header div {
    animation: fromTop .7s .2s backwards;
}

main section {
    animation: fromBot .7s .4s backwards;
}

/* main section ul li {
    animation: fromLeft .7 .6s backwards;
}

main section div h2, p {
    animation: esmaecer .7s .7s backwards;
} */

main section:nth-child(1) {
    animation-delay: 0s;
}

main section:nth-child(2) {
    animation-delay: .3s;
}

main section:nth-child(3) {
    animation-delay: .6s;
}

/* main section ul li:nth-child(1) {
    animation-delay: .8s;
}

main section ul li:nth-child(2) {
    animation-delay: .9s;
}

main section ul li:nth-child(3) {
    animation-delay: 1s;
}

main section ul li:nth-child(4) {
    animation-delay: 1.1s;
} */
